In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [2]:
df = pd.read_csv('drinks.csv')
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [3]:
df.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [4]:
df.median()

beer_servings                   76.0
spirit_servings                 56.0
wine_servings                    8.0
total_litres_of_pure_alcohol     4.2
dtype: float64

In [5]:
sample = df[df['beer_servings'] != 0].sample(60)
sample

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
133,Peru,163,160,21,6.1
51,Dominican Republic,193,147,9,6.2
55,Equatorial Guinea,92,0,233,5.8
53,Egypt,6,4,1,0.2
131,Papua New Guinea,44,39,1,1.5
136,Portugal,194,67,339,11.0
178,Tuvalu,6,41,9,1.0
29,Cabo Verde,144,56,16,4.0
41,Costa Rica,149,87,11,4.4
9,Austria,279,75,191,9.7
130,Panama,285,104,18,7.2
30,Cambodia,57,65,1,2.2
162,Sudan,8,13,0,1.7
102,Malaysia,13,4,0,0.3
163,Suriname,128,178,7,5.6
108,Mauritius,98,31,18,2.6
43,Cuba,93,137,5,4.2
45,Czech Republic,361,170,134,11.8
23,Brazil,245,145,16,7.2
11,Bahamas,122,176,51,6.3
138,South Korea,140,16,9,9.8
70,Guinea,9,0,2,0.2
146,Samoa,105,18,24,2.6
34,Chad,15,1,1,0.4
122,Nicaragua,78,118,1,3.5
164,Swaziland,90,2,2,4.7
169,Thailand,99,258,1,6.4
42,Croatia,230,87,254,10.2
63,Gambia,8,0,1,2.4
92,Laos,62,0,123,6.2
98,Lithuania,343,244,56,12.9
15,Belarus,142,373,42,14.4
168,Tajikistan,2,15,0,0.3
121,New Zealand,203,79,175,9.3
4,Angola,217,57,45,5.9
170,Macedonia,106,27,86,3.9
141,Russian Federation,247,326,73,11.5
67,Greece,133,112,218,8.3
101,Malawi,8,11,1,1.5
124,Nigeria,42,5,2,9.1
165,Sweden,152,60,186,7.2
95,Lesotho,82,29,0,2.8
100,Madagascar,26,15,4,0.8
1,Albania,89,132,54,4.9
156,Slovenia,270,51,276,10.6
21,Bosnia-Herzegovina,76,173,8,4.6
105,Malta,149,100,120,6.6
19,Bhutan,23,0,0,0.4
48,Denmark,224,81,278,10.4
116,Myanmar,5,1,0,0.1
50,Dominica,52,286,26,6.6
139,Moldova,109,226,18,6.3
140,Romania,297,122,167,10.4
154,Singapore,60,12,11,1.5
186,Uzbekistan,25,101,8,2.4
109,Mexico,238,68,5,5.5
152,Seychelles,157,25,51,4.1
181,United Arab Emirates,16,135,5,2.8
73,Haiti,1,326,1,5.9
31,Cameroon,147,1,4,5.8

In [76]:
N = sample['beer_servings'].count() # número de elementos
K = int(1 + 3.3 * np.log(N)) # número de classes, usando a regra de Sturges
AT = max(sample['beer_servings']) - min(sample['beer_servings']) # Amplitude total
H = int(AT / K) # Amplitude de classe

In [8]:
# Funções de cálculo de acúmulo de frequência
def accumulatedFrequencySimple(mass):
    acc = 0
    f = []
    for n in mass:
        acc += n
        f.append(acc)
    return f

def accumulatedFrequencyPerc(mass):
    acc = 0
    f = []
    for n in mass:
        acc += n * 100
        f.append(acc)
    return f

In [25]:
freqs = sample.get('beer_servings').value_counts()
values = freqs.values
size = sample.get('beer_servings').size
accRelFreqs = accumulatedFrequencySimple(values)
relFreqs = [n / size for n in values]
percFreqs = [f'{x * 100}' for x in relFreqs]
accPercFreqs = accumulatedFrequencyPerc(relFreqs)

## Tabela de distribuição

In [28]:
distribution_table = pd.DataFrame({'xi': freqs.keys(), 'fi': values, 'Fi': accRelFreqs, 'fi%': percFreqs, 'Fi%': accPercFreqs})
distribution_table

     xi  fi  Fi                 fi%         Fi%
0     8   3   3                 5.0    5.000000
1   149   2   5  3.3333333333333335    8.333333
2     6   2   7  3.3333333333333335   11.666667
3    16   1   8  1.6666666666666667   13.333333
4    44   1   9  1.6666666666666667   15.000000
5    42   1  10  1.6666666666666667   16.666667
6   297   1  11  1.6666666666666667   18.333333
7   163   1  12  1.6666666666666667   20.000000
8   147   1  13  1.6666666666666667   21.666667
9   285   1  14  1.6666666666666667   23.333333
10   89   1  15  1.6666666666666667   25.000000
11   26   1  16  1.6666666666666667   26.666667
12   25   1  17  1.6666666666666667   28.333333
13  152   1  18  1.6666666666666667   30.000000
14   23   1  19  1.6666666666666667   31.666667
15    5   1  20  1.6666666666666667   33.333333
16  122   1  21  1.6666666666666667   35.000000
17  157   1  22  1.6666666666666667   36.666667
18  144   1  23  1.6666666666666667   38.333333
19   15   1  24  1.6666666666666667   40.000000
20  142   1  25  1.6666666666666667   41.666667
21   13   1  26  1.6666666666666667   43.333333
22  140   1  27  1.6666666666666667   45.000000
23    9   1  28  1.6666666666666667   46.666667
24  133   1  29  1.6666666666666667   48.333333
25    2   1  30  1.6666666666666667   50.000000
26    1   1  31  1.6666666666666667   51.666667
27  105   1  32  1.6666666666666667   53.333333
28  279   1  33  1.6666666666666667   55.000000
29   52   1  34  1.6666666666666667   56.666667
30   93   1  35  1.6666666666666667   58.333333
31  247   1  36  1.6666666666666667   60.000000
32  245   1  37  1.6666666666666667   61.666667
33  238   1  38  1.6666666666666667   63.333333
34  109   1  39  1.6666666666666667   65.000000
35  106   1  40  1.6666666666666667   66.666667
36  361   1  41  1.6666666666666667   68.333333
37  230   1  42  1.6666666666666667   70.000000
38   99   1  43  1.6666666666666667   71.666667
39   98   1  44  1.6666666666666667   73.333333
40  224   1  45  1.6666666666666667   75.000000
41  270   1  46  1.6666666666666667   76.666667
42   92   1  47  1.6666666666666667   78.333333
43   57   1  48  1.6666666666666667   80.000000
44   90   1  49  1.6666666666666667   81.666667
45  217   1  50  1.6666666666666667   83.333333
46  343   1  51  1.6666666666666667   85.000000
47   82   1  52  1.6666666666666667   86.666667
48   78   1  53  1.6666666666666667   88.333333
49   76   1  54  1.6666666666666667   90.000000
50  203   1  55  1.6666666666666667   91.666667
51  194   1  56  1.6666666666666667   93.333333
52  193   1  57  1.6666666666666667   95.000000
53   62   1  58  1.6666666666666667   96.666667
54   60   1  59  1.6666666666666667   98.333333
55  128   1  60  1.6666666666666667  100.000000

## Tabela de distribuição agrupada em classes

In [140]:
#Calculando rol e classes

rol = sorted(freqs.keys())
classes = [(rol[0], rol[0]+H)]
for i in range(rol[0]+H, rol[-1], H):
    classes.append((i, i+H))

if len(classes) > K:
    classes = classes[:-1]
    cl = classes[-1]
    classes[-1] = (cl[0], rol[-1])


freqsClasses = []
def calcClassFreqs(mass, classes):
    f = []
    for cl in classes:
        c = 0
        for n in mass:
            if cl == classes[-1]:
                if cl[0] <= n <= cl[1]:
                    c += 1
            else:
                if cl[0] <= n < cl[1]:
                    c += 1
        f.append(c)
    return f

# Calculando campos de frequência
v = sample.get('beer_servings').values
classFreqs = calcClassFreqs(v, classes)
accClassFreqs = accumulatedFrequencySimple(classFreqs)
percClassFreqs = [n / size for n in classFreqs]
accPercClassFreqs = accumulatedFrequencyPerc(percClassFreqs)
table_d = pd.DataFrame({'Classe': [x+1 for x in range(len(classes))],
                       'Xi': [f'{x[0]} a {x[1]}' for x in classes],
                       'fi': classFreqs,
                       'Fi': accClassFreqs,
                       'fi%': [x*100 for x in percClassFreqs],
                       'Fi%': accPercClassFreqs})
                        
table_d

    Classe         Xi  fi  Fi        fi%         Fi%
0        1     1 a 26  14  14  23.333333   23.333333
1        2    26 a 51   3  17   5.000000   28.333333
2        3    51 a 76   4  21   6.666667   35.000000
3        4   76 a 101   9  30  15.000000   50.000000
4        5  101 a 126   4  34   6.666667   56.666667
5        6  126 a 151   8  42  13.333333   70.000000
6        7  151 a 176   3  45   5.000000   75.000000
7        8  176 a 201   2  47   3.333333   78.333333
8        9  201 a 226   3  50   5.000000   83.333333
9       10  226 a 251   4  54   6.666667   90.000000
10      11  251 a 276   1  55   1.666667   91.666667
11      12  276 a 301   3  58   5.000000   96.666667
12      13  301 a 326   0  58   0.000000   96.666667
13      14  326 a 361   2  60   3.333333  100.000000

## Correlação
#### oferta de cerveja e litros de puro álcool

In [103]:
sample.get('beer_servings').corr(sample.get('total_litres_of_pure_alcohol'))
# 0.7 < c < 0.9 = correlação forte

0.7940926903884363